{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>商品選択</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        function updateTotal() {
            var items = document.querySelectorAll("[name^='quantity_']");
            var totalPrice = 0;
            items.forEach(function(item) {
                var quantity = parseInt(item.value);
                var price = parseFloat(item.dataset.price);
                if (!isNaN(quantity) && !isNaN(price)) {
                    totalPrice += quantity * price;
                }
            });
            document.getElementById("total").innerText = "合計金額: " + totalPrice + "円";
        }
    </script>
</head>

<header>
    <h1>商品選択</h1>
</header>

<body>
    <form method="POST" action="">
        {% csrf_token %}
        <div id="column" class="m_column">
            
            <ul>
                {% for item in items %}
                <li>
                    <img src="/{{ item.picture }}" /><p>{{ item.name }}</p><span>{{ item.price }}円</span>
                    <input type="number" name="quantity_{{ item.name }}" value="{{ item.quantity }}" min="0" data-price="{{ item.price }}" onchange="updateTotal()">
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="div_purchase_total">
            <p id="total">合計金額: 0 円</p>
        <div>
        
        <div class="div_purchase_Button">
            <button type="submit" class="purchase_Button">購入</button>
        </div>
    </form>
</body>
</html>
